// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.questions h4 {
    background: #C94940;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.questions input[type=text],
.questions textarea,
.questions select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.questions input[type="text"]:focus,
.questions textarea:focus,
.questions select:focus
{
    box-shadow: 0 0 5px #ECED20;
    padding: 3%;
    border: 1px solid #ECED20;
}

.questions input[type="submit"],
.questions input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #C94940;
    border-bottom: 2px solid #EB6615;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.questions input[type="submit"]:hover,
.questions input[type="button"]:hover{
    background: #EB6615;
}
