.container
  - if user_signed_in?
    = link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'navbar-brand navbar-right'
  - else
    = link_to 'Sign in', new_user_session_path, class: 'navbar-brand navbar-right'
    = link_to 'Sign up', new_user_registration_path, class: 'navbar-brand navbar-right'
  - if user_signed_in?
    = link_to 'Users', users_path, class: 'navbar-brand navbar-left'
